.home-page {
  max-height: 100vh;
  display: grid;
  grid-template-rows: 3fr 5fr 45fr 45fr 2fr;
  grid-template-columns: 50fr 50fr;
  grid-template-areas: 
  "header header"
  "title title"
  "voter-list election"
  "voter-list representative"
  "footer footer";
}

.navbar {
  grid-area: header;
}

.title {
  grid-area: title;
  margin: 2px;
  padding: 4px;
}

.voters-list {
  grid-area: voter-list;
  border: 2px solid black;
  margin: 2px;
  padding: 4px;
  
}

.elections {
  grid-area: election;
  border: 2px solid black;
  margin: 2px;
  padding: 4px;
}

.representatives {
  grid-area: representative;
  border: 2px solid black;
  padding: 4px;
  margin: 2px;
}

.footer {
  grid-area: footer;
}